asgiref==3.8.1
Babel==2.16.0
Beaker==1.13.0
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.0
cx_Oracle==8.3.0
docutils==0.21.2
dogpile.core==0.4.1
email_validator==2.2.0
filelock==3.15.4
flask_babel==4.0.0
Flask_Bootstrap==3.3.7.1
flask_mail==0.10.0
HTMLParser==0.0.2
importlib_metadata==8.0.0
importlib_resources==6.4.0
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.3.0
lingua==4.15.0
objgraph==3.6.1
Pillow==10.4.0
protobuf==5.27.3
psutil==6.0.0
pyOpenSSL==24.2.1
pysqlcipher3==1.2.0
pytest==8.3.2
railroad==0.5.0
redis==5.0.8
Sphinx==8.0.2
sqlcipher3==0.5.3
thread==2.0.5
tornado==6.4.1
urllib3_secure_extra==0.1.0
watchdog==4.0.2
xmlrpclib==1.0.1
